.basket {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 50vh;
  padding: 2rem;
  padding-top: 0;
}

.basketHeader {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  border-bottom: 1px solid rgb(213, 211, 211);
}

.basketHeader h1 {
  font-family: Newsreader;
  font-weight: normal;
}

.basketHeader p {
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  color: rgb(75, 75, 75);
}

/* Basket Main */

.basketMain{
    flex: 1;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.basketContainer{
    flex: 1;
    max-width: 800px;
}

.basketItems{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.basketEmpty {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
