.main {
  overflow-y: auto; /* Allows vertical scrolling if content overflows */
  /* background: linear-gradient(#a8e063, #56ab2f); */
}
.title {
  text-align: center;
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 60ch;
  margin: 0 auto;
  padding: 2rem 1rem;
  line-height: 1.05;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  animation: show 2s ease forwards;
}

.italic {
  font-style: italic;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Sections */
/* Section - 1 */

.section1 {
  display: flex;
  align-items: center;
  gap: 3rem;
  animation: show 2s ease forwards;
}

@media (prefers-reduced-motion: reduce) {
  .title {
    animation: none;
    transition: none;
  }
}
