.productDetailMain {
  flex: 1;
  padding: 2rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.productDetail {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.productImage {
  width: 100%;
  max-width: 500px;
  object-fit: contain;
}

.productInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 0;
  max-width: 600px;
}

.productInfoHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productName {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.productName p {
  font-size: 0.825rem;
  padding-bottom: 3px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.QuantityButtons {
  display: flex;
  gap: 1rem;
}
.QuantityButton {
  cursor: pointer;
}

.quantityInput {
  text-align: center;
  field-sizing: content;
  border: none;
  background: transparent;
  font-weight: bold;
}

.purchaseButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.purchaseButtons Button {
  padding: 0.25rem 0;
  border-radius: 10px;
  border: 1px solid rgb(213, 211, 211);
  cursor: pointer;
}

.buyNowButton {
  background-color: #426b1f;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buyNowButton:hover, .notFoundButton:hover {
  transform: translateY(-3px);
  background-color: #73bc33;
}

/* Not found */

.notFoundContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.notFoundContainer p{
  font-size: clamp(8vw,10vw, 90px)
}

.notFoundContainer button{
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #426b1f;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

@media (max-width: 900px) {
  .productDetail {
    flex-direction: column;
    align-items: flex-start;
  }
}
