.productDetailMain {
  flex: 1;
  padding: 2rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.productDetail {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.productImage {
  width: 100%;
  max-width: 500px;
  object-fit: contain;
}

.productInfo {
  flex: 1;
  min-width: 0;
}

@media (max-width: 750px) {
  .productDetail {
    flex-direction: column;
    align-items: flex-start;
  }
}