.shop {
  flex: 1;
  padding: 2rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.shopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(213, 211, 211);
}

.headerleft {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.headerleft h1 {
  font-family: Newsreader;
  font-weight: normal;
}

.headerleft p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: rgb(75, 75, 75);
}

.filterDropdown {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
  gap: 0.5rem;
}

/* Shop Items section */
.shopSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  gap: 2rem;
}

.headerRight {
  position: relative;
}

/* Dropdown */

.filterAndSort {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 150%;
  right: 0;
  width: 300px;
  padding: 0 1rem;
  gap: 1rem;
  background-color: #c3f4ab;
  max-height: 0;
  overflow: hidden;
  transform-origin: top;
  transition: max-height 0.6s cubic-bezier(0.86, 0, 0.07, 1),
    padding 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.sort {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sortDropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sortDropdownButton,
.filterOptionButton {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  padding-left: 1rem;
  border-radius: 3px;
}

.sortDropdownButton:hover,
.filterOptionButton:hover {
  background-color: aliceblue;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filterByDropdown {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filterOptionButtons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.showDropdown {
  display: flex;
  padding-top: 0;
  padding: 1rem;
  max-height: 600px;
}

.closeDropDownContainer {
  display: flex;
  justify-content: center;
}

.closeDropDown {
  composes: basketBtn from "../../components/Navbar.module.css";
}
/* controls */
.filterAndSortControls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filterControls,
.sortControls {
  display: flex;
  gap: 0.5rem;
}

.filterControlButton,
.sortControlsButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #c3f4ab;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3 ease;
  border-radius: 3px;
}

.filterActive {
  background-color: #426b1f;
  color: white;
}
.filterActive:hover {
  background-color: #f4abab;
}

.sortControlsButton:hover,
.filterControlButton:hover {
  background-color: #f4abab;
  color: white;
}

/* Search */
.searchInput {
  border: none;
  border-bottom: 1px solid rgb(213, 211, 211);
  background: transparent;
}

.noResults {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

@media (max-width: 620px) {
  .filterSortDropdownText {
    display: none;
  }
  .filterAndSort {
    width: 250px;
    top: 240%;
  }
  .shopSection {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .headerleft {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
