.ShopCard {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.ShopCardImgContainer {
  flex: 1;
}

.ShopCardImg {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}

.ShopCardDetailsContainer {
  background-color: #fafaf5;
}

/* Cart Card */

.CartCard {
  display: flex;
  background-color: #fafaf5;
  justify-content: space-between;
  border-radius: 24px;
  gap: 2rem;
  border: 1px solid rgb(213, 211, 211);
}

.CartCardLeft {
  display: flex;
  gap: 1rem;
}

.CartCardRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.CartCardRemove {
  border: none;
  align-self: center;
  background-color: transparent;
  cursor: pointer;
}

.CartCardDetailsContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.CartCardDetailsContainer,
.CartCardRight {
  padding-top: 0.5rem;
}

.CartCardDetailsContainer p {
  color: #426b1f;
  font-weight: 600;
}

.CartCardImg {
  width: 100%;
  max-width: 100px;
  min-height: 100px;
  object-fit: cover;
  height: 100%;
  border-radius: 24px 0 0 24px;
}

.CartCardAmount {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

/* Quantity */
.CartCardQuantity {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.CartCardQuantity {
  background-color: white;
  width: fit-content;
  padding: 0.125rem 0.5rem;
  border: 1px solid rgb(213, 211, 211);
  border-radius: 24px;
}

.CartCardQuantityLabel {
  color: black !important;
  display: flex;
  gap: 0.25rem;
}

.CartCardQuantityButtons{
    display: flex;
    gap: 0.5rem;
}

.CartCardQuantityButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: large;
}

.quantityInput {
  text-align: center;
  field-sizing: content;
  border: none;
  background: transparent;
}

.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
