.ShopCard {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.ShopCardImgContainer {
  flex: 1;
}

.ShopCardImg {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.ShopCardDetailsContainer {
  display: flex;
  background-color: #fafaf5;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0 0 10px 10px
}

.ShopCardButton {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
  align-self: flex-end;
}

.ShopCardButton:hover {
  transform: scale(1.1);
}

/* Cart Card */

.CartCard {
  display: flex;
  gap: 1rem;
  background-color: #fafaf5;
  justify-content: space-between;
  border-radius: 24px;
  border: 1px solid rgb(213, 211, 211);
}

/* .CartCardLeft {
  flex: 0.3 0;
} */

.CartCardImg {
  border-radius: 24px 0 0 24px;
  object-fit: cover;
  height: 100%;
  height: 150px;
  width: 150px;
}

.CartCardRight {
  flex: 1;
  padding: 1rem;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.CartCardDetailsContainer {
  display: flex;
  flex-direction: column;
}

/* quantity */
.CartCardQuantity {
  flex: 1;
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
  width: fit-content;
  border-radius: 24px;
}

.CartCardQuantityLabel {
  color: black !important;
  display: flex;
  gap: 0.1125rem;
  align-items: center;
}

.CartCardQuantityButtons {
  display: flex;
  gap: 0.5rem;
}

.CartCardPriceContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.CartCardQuantityButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: larger;
  background-color: white;
  border: 1px solid rgb(213, 211, 211);
  border-radius: 5px;
  padding: 0;
  transition: transform 0.3s ease;
}
.CartCardQuantityButton:hover {
  transform: scale(1.1);
}

.CartCardQuantityButtonSub:hover {
  color: red;
}

.CartCardQuantityButtonAdd:hover {
  color: #426b1f;
}

.quantityInput {
  text-align: center;
  field-sizing: content;
  border: none;
  background: transparent;
  font-weight: bold;
}

.QuantityUnit {
  font-size: medium;
  font-weight: 400;
}

.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.CartCardAmountContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CartCardRemove {
  border: none;
  align-self: center;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.CartCardRemove:hover {
  transform: scale(1.2);
}

@media (max-width: 620px) {
  .CartCardImg {
    height: 100%;
    width: 100px;
  }
  .CartCardRemoveIcon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 450px) {
  .CartCardRight {
    flex-direction: column;
  }
  .CartCardPrice {
    display: none;
  }
  .CartCardAmountContainer {
    flex-direction: row;
    align-items: center;
  }
}
