.ShopCard {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.ShopCardImgContainer {
  flex: 1;
}

.ShopCardImg {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}

.ShopCardDetailsContainer {
  background-color: #fafaf5;
}

/* Cart Card */

.CartCard {
  display: flex;
  background-color: #fafaf5;
  justify-content: space-between;
  border-radius: 24px;
  border: 1px solid rgb(213, 211, 211);
}

.CartCardLeft {
  display: flex;
  gap: 1rem;
}

.CartCardRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.CartCardRemove {
  border: none;
  align-self: center;
  background-color: transparent;
  cursor: pointer;
}

.CartCardDetailsContainer,
.CartCardRight {
  padding-top: 0.5rem;
}

.CartCardDetailsContainer p {
  color: #426b1f;
  font-weight: 600;
}

.CartCardImg {
  width: 100%;
  max-width: 100px;
  min-height: 100px;
  object-fit: cover;
  height: 100%;
  border-radius: 24px 0 0 24px;
}

.CartCardAmount {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}
